<main>
    <div class="head-title">
        <div class="left">
            <h1>Panel</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="/user">Panel</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" href="#">Gestionar Local</a>
                </li>
            </ul>
        </div>
    </div>
    <form method="post" action="/user/store" class="register">
        <div class="inputs">
            <div class="input">
                <h5>Nombre del local</h5>
                <input type="text" name="name" id="name" required value="<%= store.name %>">
            </div>
            <div class="input">
                <h5>Dirección del local</h5>
                <input type="text" name="address" id="address" required value="<%= store.address %>">
            </div>
            <button>Actualizar</button>
        </div>
    </form>
</main>