<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balines Mojados</title>
    <link rel="stylesheet" href="<%= getFile('css/main.css') %>">
    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="title">
        <img src="<%= getFile('images/cookie.png') %>" alt="">
        <h1>FABRICA GALLETITAS</h1>
    </div>
    <form action="login" method="post">
        <div class="formTitle">
            <h1>INICIAR SESIÓN</h1>
            <div class="inputs">
                <div class="input">
                    <h5>Usuario</h5>
                    <input type="text" name="username">
                </div>
                <div class="input">
                    <h5>Contraseña</h5>
                    <input type="password" name="password">
                </div>
                <% if (typeof(error) != "undefined") { %>
                    <p><%= error %></p>
                <% } %>
                <button>INICIAR SESIÓN</button>
            </div>
        </div>
    </form>
    
</body>
</html>
