<main>
    <div class="head-title">
        <div class="left">
            <h1>Panel</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Panel</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a href="#">Usuarios</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" href="#">Conductor #2121</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Seguimiento del conductor</h3>
            
            </div>
            <div class="stepper-wrapper">
                <div class="stepper-item completed">
                  <div class="step-counter"><i class='bx bx-check'></i></div>
                  <div class="step-name">Salida</div>
                </div>
                <div class="stepper-item completed">
                  <div class="step-counter"><i class='bx bx-check'></i></div>
                  <div class="step-name">Lugar #1</div>
                </div>
                <div class="stepper-item active">
                  <div class="step-counter"></div>
                  <div class="step-name">Lugar #2</div>
                </div>
                <div class="stepper-item">
                  <div class="step-counter"></div>
                  <div class="step-name">Lugar #3</div>
                </div>
                <div class="stepper-item">
                    <div class="step-counter"></div>
                    <div class="step-name">Recorrido finalizado</div>
                  </div>
            </div>
            <div class="detalles">
                <h5>Detalles del pedido</h5>
                <ul>
                    <li><small>15 jul 15:00 | El pedido esta en preparación</small></li>
                    <li><small>15 jul 15:00 | El pedido esta siendo paletizado</small></li>
                    <li><small>15 jul 15:00 | El pedido esta siendo checkeado</small></li>
                    <li><small>15 jul 15:00 | El pedido esta siendo cargado</small></li>
                    <li><small>15 jul 15:00 | El pedido esta en camino</small></li>
                    <li><small>15 jul 15:00 | El pedido fue entregado con éxito</small></li>
                    <li><small>15 jul 15:00 | El pedido fue demorado</small></li>

                </ul>
            </div>
        </div>
    </div>
    

</main>