<div class="userTypes">
    <h2>Seleccione el tipo de usuario</h2>
    <button>Cliente</button>
    <button>Conductor</button>
    <button>Logística</button>
    <button>Paletizador</button>
</div>
<div class="inputs">
    <div class="input">
        <h5>Nombre</h5>
        <input type="text" name="" id="">
    </div>
    <div class="input">
        <h5>Apellido</h5>
        <input type="text" name="" id="">
    </div>
    <div class="input">
        <h5>Telefono</h5>
        <input type="text" name="" id="">
    </div>
    <button>Registrar</button>
</div>