<main>
    <div class="head-title">
        <div class="left">
            <h1>Panel</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Panel</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a href="#">Pedidos</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" href="#">Pedido #2121</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Revisar el pedido</h3>
            
            </div>
            <div class="stepper-wrapper">
                <div class="stepper-item">
                  <div class="step-counter"><i class='bx bx-check'></i></div>
                  <div class="step-name">En preparación</div>
                </div>
                <div class="stepper-item">
                  <div class="step-counter"><i class='bx bx-check'></i></div>
                  <div class="step-name">Despacho</div>
                </div>
                <div class="stepper-item active">
                  <div class="step-counter"></div>
                  <div class="step-name">En camino</div>
                </div>
                <div class="stepper-item">
                  <div class="step-counter"></div>
                  <div class="step-name">Entregado</div>
                </div>
            </div>
            <div class="moreInfo">
                <div class="detalles">
                    <form action="">
                        <div class="inputs">
                            <div class="input">
                                <h5>Detalles (Opcional)</h5>
                                <textarea name="" id="" cols="30" rows="10"></textarea>
                            </div>
                            <button>CONFIRMAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

</main>
