<main>
    <div class="head-title">
        <div class="left">
            <h1>Panel</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="/user" class="active">Panel</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a href="/user/vehiculos" class="active">Vehiculos</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a href="#">Viajes</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Tu seguimiento como conductor</h3>
            </div>
            <div class="stepper-wrapper">
                <div class="stepper-item completed active">
                    <div class="step-counter"><i class='bx bx-check'></i></div>
                    <div class="step-name">Salida</div>
                </div>
                <% for (let x of trips) { %>
                    <div class="stepper-item">
                        <div class="step-counter"><i class='bx bx-check'></i></div>
                        <div class="step-name"><%= x.address %></div>
                    </div>
                <% } %>
                <div class="stepper-item">
                    <div class="step-counter"><i class='bx bx-check'></i></div>
                    <div class="step-name">Recorrido finalizado</div>
                </div>
            </div>
            <div class="detalles">
                <form action="">
                    <div class="inputs">
                        <div class="input">
                            <h5>Codigo de seguridad</h5>
                            <input type="text" name="" id="">
                        </div>
                        <button>CONFIRMAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

</main>